# Don't track content of these folders

__pycache__/
.vscode
.gitignore
csv/
models/
figures/

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

*.so

# Packages #
############
*.tab
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.tar.gz
*.zip
*.tsv
*.sav
*.json
